# Populating Database 

In this notebook, I am populating the database with all the data. For this, I need to go through the data files I want to use and then see how they are set up and then insert rows in the table.

In [70]:
# Importing libraries
import pandas as pd
import re
import sys
import sqlalchemy

# Adding the credentials path
sys.path.append('../')
from credentials import credentials

## Putting the different data sources into the table.

In this section, I go through the different files I need for each data source and put it into table.

### daigt data - llama 70b and falcon180b

In [2]:
# Getting the data csvs
falcon = pd.read_csv('../data/llama70b-and-falcon70b-generated/falcon_180b_v1.csv')
llama = pd.read_csv('../data/llama70b-and-falcon70b-generated/llama_70b_v2.csv',index_col=0)
combined = pd.read_csv('../data/llama70b-and-falcon70b-generated/llama_falcon_v3.csv')

In [3]:
# Viewing falcon generated
falcon.head(5) # Falcon doesn't have a column for LLM generated, need to add it

,generated_text,writing_prompt
0,"Dear Principal,\n\nI am writing to express my ...",Your principal is considering changing school ...
1,When people are faced with a difficult decisio...,"When people ask for advice, they sometimes tal..."
2,"As a grade 12 student, I believe that summer p...",Some schools require students to complete summ...
3,"Dear Principal,\n\nI am writing to share my th...",Some of your friends perform community service...
4,"""Making Mona Lisa Smile"" is an interesting art...","In the article ""Making Mona Lisa Smile,"" the a..."

In [4]:
# Viewing llama generated
llama.head(5)

,generated_text,writing_prompt,generated
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1

In [5]:
# Viewing combined generated
combined.head(5)

,text,generated,prompt_name,model
0,One way we can make a positive change is by li...,1,Car-free cities,llama_70b
1,The experimental district of Vauban in Germany...,1,Car-free cities,llama_70b
2,"The successful ""Day Without Cars"" event in Bog...",1,Car-free cities,llama_70b
3,"The exhaust from cars pollutes our air, and th...",1,Car-free cities,llama_70b
4,"Recently, Paris faced a severe pollution probl...",1,Car-free cities,llama_70b

In [6]:
# Want to see how many prompts I have in combined
combined['prompt_name'].value_counts() # 7 total prompts

prompt_name
Car-free cities                     1000
Does the electoral college work?    1000
The Face on Mars                    1000
"A Cowboy Who Rode the Waves"       1000
Exploring Venus                     1000
Facial action coding system         1000
Driverless cars                     1000
Name: count, dtype: int64

Based on initial analysis, falcon and llama dataframes are ready to be inserted into the table. The falcone dataframe just needs a generated column which is going to be set to all 1s. For the combined dataframe, I need to map the prompt_name to the prompts. Fortunately, the persuade 2.0 corpus provides a mapping, so I can utilize this mapping prior to adding the combined dataframe into the table.

I also need a word count feature to add to the table. Hence, I need to add the word count feature.

In [7]:
# Adding a generated column in falcon
falcon['generated'] = 1
falcon.head(5)

,generated_text,writing_prompt,generated
0,"Dear Principal,\n\nI am writing to express my ...",Your principal is considering changing school ...,1
1,When people are faced with a difficult decisio...,"When people ask for advice, they sometimes tal...",1
2,"As a grade 12 student, I believe that summer p...",Some schools require students to complete summ...,1
3,"Dear Principal,\n\nI am writing to share my th...",Some of your friends perform community service...,1
4,"""Making Mona Lisa Smile"" is an interesting art...","In the article ""Making Mona Lisa Smile,"" the a...",1

In [8]:
# Creating a function to get the word count of a piece of text
def get_word_count(text:str) -> int:
    """
    get_word_count

    A function to get the word count of some text.

    inputs:
    - text: a string that indicates you want to get the word count for.

    outputs:
    - an integer representing the word count
    """
    return len(re.findall(r'[a-zA-Z_]+',text))

In [9]:
# Adding a word count feature to the falcon dataset
falcon['word_count'] = falcon['generated_text'].apply(get_word_count)
falcon.tail(5)

,generated_text,writing_prompt,generated,word_count
1050,(I am not capable of personal opinions or beli...,The role of zoos in conservation and education...,1,360
1051,"In ""The Challenge of Exploring Venus,"" the aut...","In ""The Challenge of Exploring Venus,"" the aut...",1,442
1052,"The article ""Making Mona Lisa Smile"" discusses...","In the article ""Making Mona Lisa Smile,"" the a...",1,327
1053,"As a grade 6 student, I am still learning abou...",The issue of gun control is a highly contentio...,1,313
1054,Passage 1:\n\nCars are one of the main ways in...,Write an explanatory essay to inform fellow ci...,1,401

In [10]:
# Adding a word count feature to llama dataset
llama['word_count'] = llama['generated_text'].apply(get_word_count)
llama.head(5)

,generated_text,writing_prompt,generated,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307

In [11]:
# Adding a word count feature to combined dataset
combined['word_count'] = combined['text'].apply(get_word_count)
combined.head(5)

,text,generated,prompt_name,model,word_count
0,One way we can make a positive change is by li...,1,Car-free cities,llama_70b,365
1,The experimental district of Vauban in Germany...,1,Car-free cities,llama_70b,486
2,"The successful ""Day Without Cars"" event in Bog...",1,Car-free cities,llama_70b,416
3,"The exhaust from cars pollutes our air, and th...",1,Car-free cities,llama_70b,367
4,"Recently, Paris faced a severe pollution probl...",1,Car-free cities,llama_70b,466

In [12]:
# Combining the llama dataset and the falcon dataset into one dataframe
llama_and_falcon = pd.concat([llama,falcon],axis=0,ignore_index=True)
llama_and_falcon

,generated_text,writing_prompt,generated,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
2222,(I am not capable of personal opinions or beli...,The role of zoos in conservation and education...,1,360
2223,"In ""The Challenge of Exploring Venus,"" the aut...","In ""The Challenge of Exploring Venus,"" the aut...",1,442
2224,"The article ""Making Mona Lisa Smile"" discusses...","In the article ""Making Mona Lisa Smile,"" the a...",1,327
2225,"As a grade 6 student, I am still learning abou...",The issue of gun control is a highly contentio...,1,313
2226,Passage 1:\n\nCars are one of the main ways in...,Write an explanatory essay to inform fellow ci...,1,401

In [13]:
# Renaming the columns
llama_and_falcon.rename(columns={'generated_text':'essay','writing_prompt':'prompt','generated':'LLM_written'},inplace=True)
llama_and_falcon.head(5)

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307

## persuade corpus 2.0

In [14]:
# Getting the data
persuade_corpus = pd.read_csv('../data/persuade-corpus/persuade_2.0_human_scores_demo_id_github.csv')
persuade_corpus.head(5)

,essay_id_comp,full_text,holistic_essay_score,word_count,prompt_name,task,assignment,source_text,gender,grade_level,ell_status,race_ethnicity,economically_disadvantaged,student_disability_status
0,423A1CA112E2,Phones\n\nModern humans today are always on th...,3,378,Phones and driving,Independent,Today the majority of humans own and operate c...,NaN,M,NaN,NaN,Black/African American,NaN,NaN
1,BC75783F96E3,This essay will explain if drivers should or s...,4,432,Phones and driving,Independent,Today the majority of humans own and operate c...,NaN,M,NaN,NaN,Black/African American,NaN,NaN
2,74C8BC7417DE,Driving while the use of cellular devices\n\nT...,2,179,Phones and driving,Independent,Today the majority of humans own and operate c...,NaN,F,NaN,NaN,White,NaN,NaN
3,A8445CABFECE,Phones & Driving\n\nDrivers should not be able...,3,221,Phones and driving,Independent,Today the majority of humans own and operate c...,NaN,M,NaN,NaN,Black/African American,NaN,NaN
4,6B4F7A0165B9,Cell Phone Operation While Driving\n\nThe abil...,4,334,Phones and driving,Independent,Today the majority of humans own and operate c...,NaN,M,NaN,NaN,White,NaN,NaN

In [15]:
# Dropping the unnecessary columns
persuade_corpus.drop(['essay_id_comp','holistic_essay_score','task','source_text','gender',
                      'grade_level','ell_status','race_ethnicity','economically_disadvantaged',
                      'student_disability_status'],axis=1,inplace=True)
persuade_corpus.head(5)

,full_text,word_count,prompt_name,assignment
0,Phones\n\nModern humans today are always on th...,378,Phones and driving,Today the majority of humans own and operate c...
1,This essay will explain if drivers should or s...,432,Phones and driving,Today the majority of humans own and operate c...
2,Driving while the use of cellular devices\n\nT...,179,Phones and driving,Today the majority of humans own and operate c...
3,Phones & Driving\n\nDrivers should not be able...,221,Phones and driving,Today the majority of humans own and operate c...
4,Cell Phone Operation While Driving\n\nThe abil...,334,Phones and driving,Today the majority of humans own and operate c...

In [16]:
# Getting the prompt_name and assignment columns for the mappers
column_dict = persuade_corpus[['prompt_name','assignment']].drop_duplicates(subset='prompt_name').to_dict('records')
prompt_mapper = {}

# Iterating through the column_dict to make the prompt_mapper
for i in range(len(column_dict)):
    prompt_mapper[column_dict[i]['prompt_name']] = column_dict[i]['assignment']

# printing the prompt mapper
prompt_mapper

{'Phones and driving': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.',
 'Car-free cities': 'Write an explanatory essay to inform fellow citizens about the advantages of limiting car usage. Your essay must be based on ideas and information that can be found in the passage set. Manage your time carefully so that you can read the passages; plan your response; write your response; and revise and edit your response. Be sure to use evidence from multiple sources; and avoid overly relying on one source. Your response should be in the form of a multiparagraph essay. Write your essay in the space provided.',
 'Summer projects': 'Some schools require students to complete summer projects to assure they continue learning during their break. Should these summer projects be teacher-designed or student-designed? Take a position on this question. Support your response with reasons and specific examples.',
 '"A Cowboy Who Rode the Waves"': "You have just read the article, 'A Cowboy Who Rode the Waves.' Luke's participation in the Seagoing Cowboys program allowed him to experience adventures and visit many unique places. Using information from the article, write an argument from Luke's point of view convincing others to participate in the Seagoing Cowboys program. Be sure to include: reasons to join the program; details from the article to support Luke's claims; an introduction, a body, and a conclusion to your essay.",
 'Mandatory extracurricular activities': 'Your principal has decided that all students must participate in at least one extracurricular activity. For example, students could participate in sports, work on the yearbook, or serve on the student council. Do you agree or disagree with this decision? Use specific details and examples to convince others to support your position. ',
 'Exploring Venus': 'In "The Challenge of Exploring Venus," the author suggests studying Venus is a worthy pursuit despite the dangers it presents. Using details from the article, write an essay evaluating how well the author supports this idea. Be sure to include: a claim that evaluates how well the author supports the idea that studying Venus is a worthy pursuit despite the dangers; an explanation of the evidence from the article that supports your claim; an introduction, a body, and a conclusion to your essay.',
 'Facial action coding system': 'In the article "Making Mona Lisa Smile," the author describes how a new technology called the Facial Action Coding System enables computers to identify human emotions. Using details from the article, write an essay arguing whether the use of this technology to read the emotional expressions of students in a classroom is valuable.',
 'The Face on Mars': "You have read the article 'Unmasking the Face on Mars.' Imagine you are a scientist at NASA discussing the Face with someone who thinks it was created by aliens. Using information in the article, write an argumentative essay to convince someone that the Face is just a natural landform.Be sure to include: claims to support your argument that the Face is a natural landform; evidence from the article to support your claims; an introduction, a body, and a conclusion to your argumentative essay.",
 'Community service': 'Some of your friends perform community service. For example, some tutor elementary school children and others clean up litter. They think helping the community is very important. But other friends of yours think community service takes too much time away from what they need or want to do. \nYour principal is deciding whether to require all students to perform community service. \nWrite a letter to your principal in which you take a position on whether students should be required to perform community service. Support your position with examples.',
 'Grades for extracurricular activities': "Your principal is considering changing school policy so that students may not participate in sports or other activities unless they have at least a grade B average. Many students have a grade C average. \nShe would like to hear the students' views on this possible policy change. Write a letter to your principal arguing for or against requiring at least a grade B average to participate in sports or other activities. Be sure to support your arguments with specific reasons.",
 'Driverless cars': 'In the article “Driverless Cars are Coming,” the author presents both positive and negative aspects of driverless cars. Using details from the article, create an argument for or against the development of these cars.  Be sure to include: your position on driverless cars; appropriate details from the article that support your position; an introduction, a body, and a conclusion to your argumentative essay.',
 'Does the electoral college work?': 'Write a letter to your state senator in which you argue in favor of keeping the Electoral College or changing to election by popular vote for the president of the United States. Use the information from the texts in your essay. Manage your time carefully so that you can read the passages; plan your response; write your response; and revise and edit your response. Be sure to include a claim; address counterclaims; use evidence from multiple sources; and avoid overly relying on one source. Your response should be in the form of a multiparagraph essay. Write your response in the space provided.',
 'Cell phones at school': "Your principal is reconsidering the school's cell phone policy. She is considering two possible policies: \nPolicy 1: Allow students to bring phones to school and use them during lunch periods and other free times, as long as the phones are turned off during class time. \nPolicy 2: Do not allow students to have phones at school at all.\nWrite a letter to your principal convincing her which policy you believe is better. Support your position with specific reasons.",
 'Distance learning': 'Some schools offer distance learning as an option for students to attend classes from home by way of online or video conferencing. Do you think students would benefit from being able to attend classes from home? Take a position on this issue. Support your response with reasons and examples.',
 'Seeking multiple opinions': 'When people ask for advice, they sometimes talk to more than one person. Explain why seeking multiple opinions can help someone make a better choice. Use specific details and examples in your response.'}

In [17]:
# Using the mapping to add the prompt to the combined dataset
combined['prompt'] = combined['prompt_name'].map(prompt_mapper)
combined.head(5)

,text,generated,prompt_name,model,word_count,prompt
0,One way we can make a positive change is by li...,1,Car-free cities,llama_70b,365,Write an explanatory essay to inform fellow ci...
1,The experimental district of Vauban in Germany...,1,Car-free cities,llama_70b,486,Write an explanatory essay to inform fellow ci...
2,"The successful ""Day Without Cars"" event in Bog...",1,Car-free cities,llama_70b,416,Write an explanatory essay to inform fellow ci...
3,"The exhaust from cars pollutes our air, and th...",1,Car-free cities,llama_70b,367,Write an explanatory essay to inform fellow ci...
4,"Recently, Paris faced a severe pollution probl...",1,Car-free cities,llama_70b,466,Write an explanatory essay to inform fellow ci...

In [18]:
# Renaming and dropping columns 
combined.drop(['prompt_name','model'],axis=1,inplace=True)
combined.rename(columns={'text':'essay','generated':'LLM_written'},inplace=True)
combined.head(5)

,essay,LLM_written,word_count,prompt
0,One way we can make a positive change is by li...,1,365,Write an explanatory essay to inform fellow ci...
1,The experimental district of Vauban in Germany...,1,486,Write an explanatory essay to inform fellow ci...
2,"The successful ""Day Without Cars"" event in Bog...",1,416,Write an explanatory essay to inform fellow ci...
3,"The exhaust from cars pollutes our air, and th...",1,367,Write an explanatory essay to inform fellow ci...
4,"Recently, Paris faced a severe pollution probl...",1,466,Write an explanatory essay to inform fellow ci...

In [19]:
# Concating combined with the current dataset
fully_concatenated_data = pd.concat([llama_and_falcon,combined])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
6995,"Driverless cars, also known as autonomous cars...","In the article “Driverless Cars are Coming,” t...",1,397
6996,Driverless Cars: A Necessity for Our Future\n\...,"In the article “Driverless Cars are Coming,” t...",1,405
6997,The Pros and Cons of Driverless Cars\n\nThe wo...,"In the article “Driverless Cars are Coming,” t...",1,661
6998,The development of driverless cars has been a ...,"In the article “Driverless Cars are Coming,” t...",1,596
6999,Introduction\n\nThe advent of driverless cars ...,"In the article “Driverless Cars are Coming,” t...",1,266

In [20]:
# Working with the persuade corpus
persuade_corpus

,full_text,word_count,prompt_name,assignment
0,Phones\n\nModern humans today are always on th...,378,Phones and driving,Today the majority of humans own and operate c...
1,This essay will explain if drivers should or s...,432,Phones and driving,Today the majority of humans own and operate c...
2,Driving while the use of cellular devices\n\nT...,179,Phones and driving,Today the majority of humans own and operate c...
3,Phones & Driving\n\nDrivers should not be able...,221,Phones and driving,Today the majority of humans own and operate c...
4,Cell Phone Operation While Driving\n\nThe abil...,334,Phones and driving,Today the majority of humans own and operate c...
...,...,...,...,...
25991,80% of Americans believe seeking multiple opin...,1050,Seeking multiple opinions,"When people ask for advice, they sometimes tal..."
25992,"When people ask for advice,they sometimes talk...",373,Seeking multiple opinions,"When people ask for advice, they sometimes tal..."
25993,"During a group project, have you ever asked a ...",631,Seeking multiple opinions,"When people ask for advice, they sometimes tal..."
25994,Making choices in life can be very difficult. ...,417,Seeking multiple opinions,"When people ask for advice, they sometimes tal..."
25995,Have you ever asked more than one person for h...,706,Seeking multiple opinions,"When people ask for advice, they sometimes tal..."

In [21]:
# Adding a column for generated
persuade_corpus['LLM_written'] = 0

# Dropping prompt name
persuade_corpus.drop(['prompt_name'],axis=1,inplace=True)

# Renaming columns
persuade_corpus.rename(columns={'full_text':'essay','assignment':'prompt'},inplace=True)
persuade_corpus.head(5)

,essay,word_count,prompt,LLM_written
0,Phones\n\nModern humans today are always on th...,378,Today the majority of humans own and operate c...,0
1,This essay will explain if drivers should or s...,432,Today the majority of humans own and operate c...,0
2,Driving while the use of cellular devices\n\nT...,179,Today the majority of humans own and operate c...,0
3,Phones & Driving\n\nDrivers should not be able...,221,Today the majority of humans own and operate c...,0
4,Cell Phone Operation While Driving\n\nThe abil...,334,Today the majority of humans own and operate c...,0

In [22]:
# Concatenating with the combined dataset
fully_concatenated_data = pd.concat([fully_concatenated_data,persuade_corpus])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
25991,80% of Americans believe seeking multiple opin...,"When people ask for advice, they sometimes tal...",0,1050
25992,"When people ask for advice,they sometimes talk...","When people ask for advice, they sometimes tal...",0,373
25993,"During a group project, have you ever asked a ...","When people ask for advice, they sometimes tal...",0,631
25994,Making choices in life can be very difficult. ...,"When people ask for advice, they sometimes tal...",0,417
25995,Have you ever asked more than one person for h...,"When people ask for advice, they sometimes tal...",0,706

### 1000 essays from Anthropic

In [23]:
anthropic = pd.read_csv('../data/persuade15_claude_instant1.csv')
anthropic.head(5)

,prompt_id,essay_title,essay_text
0,14,Some schools offer distance learning as an opt...,While distance learning offers certain benefit...
1,11,"In the article “Driverless Cars are Coming,” t...",The Development of Driverless Cars\n\nWhile dr...
2,8,You have read the article 'Unmasking the Face ...,"While the mysterious formation known as the ""F..."
3,6,"In ""The Challenge of Exploring Venus,"" the aut...",Studying Venus Remains a Worthy Pursuit\n\nWhi...
4,11,"In the article “Driverless Cars are Coming,” t...",Driverless Cars: An Argument in Favor\n\nThe d...

In [24]:
# Getting the word counts
anthropic['word_count'] = anthropic['essay_text'].apply(get_word_count)
anthropic.head(5)

,prompt_id,essay_title,essay_text,word_count
0,14,Some schools offer distance learning as an opt...,While distance learning offers certain benefit...,307
1,11,"In the article “Driverless Cars are Coming,” t...",The Development of Driverless Cars\n\nWhile dr...,356
2,8,You have read the article 'Unmasking the Face ...,"While the mysterious formation known as the ""F...",318
3,6,"In ""The Challenge of Exploring Venus,"" the aut...",Studying Venus Remains a Worthy Pursuit\n\nWhi...,303
4,11,"In the article “Driverless Cars are Coming,” t...",Driverless Cars: An Argument in Favor\n\nThe d...,322

In [25]:
# Dropping columns, adding columns, and renaming columns
anthropic.drop(['prompt_id'],axis=1,inplace=True)
anthropic['LLM_written'] = 1
anthropic.rename(columns={'essay_title':'prompt','essay_text':'essay'},inplace=True)
anthropic.head(5)

,prompt,essay,word_count,LLM_written
0,Some schools offer distance learning as an opt...,While distance learning offers certain benefit...,307,1
1,"In the article “Driverless Cars are Coming,” t...",The Development of Driverless Cars\n\nWhile dr...,356,1
2,You have read the article 'Unmasking the Face ...,"While the mysterious formation known as the ""F...",318,1
3,"In ""The Challenge of Exploring Venus,"" the aut...",Studying Venus Remains a Worthy Pursuit\n\nWhi...,303,1
4,"In the article “Driverless Cars are Coming,” t...",Driverless Cars: An Argument in Favor\n\nThe d...,322,1

In [26]:
# Adding anthropic to the final dataset
fully_concatenated_data = pd.concat([fully_concatenated_data,anthropic])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
995,Limiting car usage has many benefits for moder...,Write an explanatory essay to inform fellow ci...,1,349
996,The Rise of Driverless Cars\n\nThe development...,"In the article “Driverless Cars are Coming,” t...",1,297
997,Schools should allow students to design their ...,Some schools require students to complete summ...,1,303
998,The Open Sea Beckons\n\nThe Seagoing Cowboys p...,"You have just read the article, 'A Cowboy Who ...",1,357
999,While technology often progresses society in p...,"In the article “Driverless Cars are Coming,” t...",1,359

### ArguGPT

In [27]:
# Importing the data
argugpt = pd.read_csv('../data/ArguGPT/argugpt.csv')
argugpt.head(5)

,id,prompt_id,prompt,text,model,temperature,exam_type,score,score_level
0,weccl_30,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.50,weccl,19,high
1,weccl_51,WECCL-17,Some people think the university education is ...,There are a number of reasons why people might...,text-babbage-001,0.65,weccl,13,medium
2,weccl_48,WECCL-17,Some people think the university education is ...,There are many reasons why university educatio...,text-babbage-001,0.65,weccl,13,medium
3,weccl_50,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.65,weccl,12,low
4,weccl_55,WECCL-17,Some people think the university education is ...,There is a general consensus that university e...,text-babbage-001,0.80,weccl,13,medium

In [28]:
# Getting the columns that I need
argugpt = argugpt[['prompt','text']]

# Adding the word_count and LL_written columns
argugpt['word_count'] = argugpt['text'].apply(get_word_count)
argugpt['LLM_written'] = 1

# Renaming the text column
argugpt.rename(columns={'text':'essay'},inplace=True)
argugpt.head()

,prompt,essay,word_count,LLM_written
0,Some people think the university education is ...,There are many people who think that universit...,324,1
1,Some people think the university education is ...,There are a number of reasons why people might...,241,1
2,Some people think the university education is ...,There are many reasons why university educatio...,114,1
3,Some people think the university education is ...,There are many people who think that universit...,174,1
4,Some people think the university education is ...,There is a general consensus that university e...,111,1

In [29]:
# Concatenating this data
fully_concatenated_data = pd.concat([fully_concatenated_data,argugpt])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
4033,The notion that one must be forced to defend a...,Only by being forced to defend an idea against...,1,568
4034,I strongly agree with the statement that menta...,Students should be encouraged to realize that ...,1,352
4035,"In today’s world, where competition is highly ...",The best preparation for life or a career is n...,1,540
4036,Education is one of the most powerful tools th...,AII nations should help support the developmen...,1,428
4037,"As the world is evolving rapidly, the need for...",Colleges and universities should require all f...,1,380

### DAIGT | External Dataset

In [30]:
# Importing the data
daigt = pd.read_csv('../data/daigt_external_dataset.csv')
daigt.head(5)

,id,text,instructions,source_text
0,6060D28C05B6,Some schools in United States ofter classes fr...,\nTask: Write a persuasive essay on whether or...,\nWhen considering the pros and cons of attend...
1,60623DB5DE7A,"Four-day work week, a remarkable idea to conse...",\nTask: Research the advantages and disadvanta...,\nOne of the primary arguments for implementin...
2,607A39D981DE,Students and their families should consider an...,\nTask: \n\n1. Talk to your parents before tak...,\nBefore making any decisions about getting in...
3,60ACDFA1609E,Agree you will never grow if something beyond ...,\nTask: Write an essay discussing the benefits...,"\nRalph Waldo Emerson once said, ""Go confident..."
4,60AE13D3F07B,I think our character traits are formed by inf...,\nTask: Research and discuss how character tra...,\nHuman character traits are shaped by a wide ...

In [31]:
# In the DAIGT data, there are essays for students (text column) and essays generated by ChatGPT (source_text column)
# Splitting up the data into student and generated
student_essays = daigt[['text','instructions']].copy()
generated_essays = daigt[['source_text','instructions']].copy()

In [32]:
# Adding columns, renaming columns
student_essays.rename(columns={'text':'essay','instructions':'prompt'},inplace=True)
generated_essays.rename(columns={'source_text':'essay','instructions':'prompt'},inplace=True)

student_essays['word_count'] = student_essays['essay'].apply(get_word_count)
generated_essays['word_count'] = generated_essays['essay'].apply(get_word_count)

student_essays['LLM_written'] = 0
generated_essays['LLM_written'] = 1

In [33]:
# Concatenating
fully_concatenated_data = pd.concat([fully_concatenated_data,student_essays,generated_essays])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
2416,\nBecoming a surgeon requires a great deal of ...,\nTask: Research different kinds of medical pr...,1,114
2417,\nSchools should offer an after school homewor...,\nTask: Write an essay discussing why schools ...,1,297
2418,\nIt’s human nature to be afraid to make mista...,\nTask: Write an essay about how having a few ...,1,193
2419,\nOne of the main debates of 2020 for many stu...,\nTask: \n\nWrite an essay exploring the pros ...,1,245
2420,\nThe implementation of a curfew for teenagers...,\nTask: Analyze and explore the benefits of im...,1,128

### LLM - Detect AI Generated Text

In [34]:
# Getting the data and the prompt mapper
data = pd.read_csv('../data/llm-detect-ai-generated-text/train_essays.csv')
prompts = pd.read_csv('../data/llm-detect-ai-generated-text/train_prompts.csv')
data.head()

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0
3,00940276,0,How often do you ride in a car? Do you drive a...,0
4,00c39458,0,Cars are a wonderful thing. They are perhaps o...,0

In [35]:
prompts.head()

,prompt_id,prompt_name,instructions,source_text
0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
1,1,Does the electoral college work?,Write a letter to your state senator in which ...,# What Is the Electoral College? by the Office...

In [36]:
# Joining the 2 datasets
joined_data = data.join(other=prompts,on='prompt_id',rsuffix='_prompt')
joined_data.head()

,id,prompt_id,text,generated,prompt_id_prompt,prompt_name,instructions,source_text
0,0059830c,0,Cars. Cars have been around since they became ...,0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
1,005db917,0,Transportation is a large necessity in most co...,0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
3,00940276,0,How often do you ride in a car? Do you drive a...,0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
4,00c39458,0,Cars are a wonderful thing. They are perhaps o...,0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."

In [37]:
# Dropping columns and renaming columns
joined_data.drop(['prompt_id','prompt_id_prompt','prompt_name','source_text','id'],axis=1,inplace=True)
joined_data.rename(columns={'text':'essay','instructions':'prompt','generated':'LLM_written'},inplace=True)
joined_data['word_count'] = joined_data['essay'].apply(get_word_count)
joined_data.head()

,essay,LLM_written,prompt,word_count
0,Cars. Cars have been around since they became ...,0,Write an explanatory essay to inform fellow ci...,584
1,Transportation is a large necessity in most co...,0,Write an explanatory essay to inform fellow ci...,459
2,"""America's love affair with it's vehicles seem...",0,Write an explanatory essay to inform fellow ci...,750
3,How often do you ride in a car? Do you drive a...,0,Write an explanatory essay to inform fellow ci...,698
4,Cars are a wonderful thing. They are perhaps o...,0,Write an explanatory essay to inform fellow ci...,863

In [38]:
# Concatenating the data
fully_concatenated_data = pd.concat([fully_concatenated_data,joined_data])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1,307
...,...,...,...,...
1373,There has been a fuss about the Elector Colleg...,Write a letter to your state senator in which ...,0,428
1374,Limiting car usage has many advantages. Such a...,Write an explanatory essay to inform fellow ci...,0,398
1375,There's a new trend that has been developing f...,Write an explanatory essay to inform fellow ci...,0,745
1376,As we all know cars are a big part of our soci...,Write an explanatory essay to inform fellow ci...,0,524
1377,Cars have been around since the 1800's and hav...,Write an explanatory essay to inform fellow ci...,0,447

### LLM-generated essay using PaLM from Google Gen-AI

In [39]:
palm = pd.read_csv('../data/LLM_generated_essay_PaLM.csv')
palm.head()

   id  prompt_id                                               text  generated
0   0        0.0  ## The Advantages of Limiting Car Usage\n\nIn ...        1.0
1   1        0.0  The United States is a car-dependent nation, w...        1.0
2   2        0.0  In recent years, there has been a growing move...        1.0
3   3        0.0  In recent years, there has been a growing move...        1.0
4   4        0.0  In the past few decades, the United States has...        1.0

In [40]:
# Joining with prompts
palm = palm.join(prompts,on='prompt_id',rsuffix="_prompt")
palm.head()

,id,prompt_id,text,generated,prompt_id_prompt,prompt_name,instructions,source_text
0,0,0.0,## The Advantages of Limiting Car Usage\n\nIn ...,1.0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
1,1,0.0,"The United States is a car-dependent nation, w...",1.0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
2,2,0.0,"In recent years, there has been a growing move...",1.0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
3,3,0.0,"In recent years, there has been a growing move...",1.0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
4,4,0.0,"In the past few decades, the United States has...",1.0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."

In [41]:
# Dropping columns and renaming columns
palm.drop(['id','prompt_id','prompt_id_prompt','prompt_name','source_text'],axis=1,inplace=True)
palm.rename(columns={'text':'essay','generated':'LLM_written','instructions':'prompt'},inplace=True)
palm['word_count'] = palm['essay'].apply(get_word_count)
palm.head()

,essay,LLM_written,prompt,word_count
0,## The Advantages of Limiting Car Usage\n\nIn ...,1.0,Write an explanatory essay to inform fellow ci...,483
1,"The United States is a car-dependent nation, w...",1.0,Write an explanatory essay to inform fellow ci...,443
2,"In recent years, there has been a growing move...",1.0,Write an explanatory essay to inform fellow ci...,402
3,"In recent years, there has been a growing move...",1.0,Write an explanatory essay to inform fellow ci...,448
4,"In the past few decades, the United States has...",1.0,Write an explanatory essay to inform fellow ci...,367

In [42]:
# Concatenating
fully_concatenated_data = pd.concat([fully_concatenated_data,palm])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1.0,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1.0,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1.0,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1.0,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1.0,307
...,...,...,...,...
1379,"Dear Senator,\n\nI am writing to you today to ...",Write a letter to your state senator in which ...,1.0,374
1380,"Dear Senator,\n\nI am writing to you today to ...",Write a letter to your state senator in which ...,1.0,351
1381,"Dear Senator,\n\nI am writing to you today to ...",Write a letter to your state senator in which ...,1.0,274
1382,"Dear Senator,\n\nI am writing to you today to ...",Write a letter to your state senator in which ...,1.0,253
1383,"Dear Senator,\n\nI am writing to you today to ...",Write a letter to your state senator in which ...,1.0,399

### essays-with-instructions

In [45]:
data = pd.read_parquet('../data/essays-with-titles&instructions.parquet')
data.head()

,instructions,titles,essays,urls
0,Write the original essay that generated the fo...,The essay discusses the issue of whether or n...,2-6-Year-Olds’ Criminal Actions Irresponsibili...,https://ivypanda.com/essays/2-6-year-olds-crim...
1,Provide the inputted essay that when summarize...,\n\nThe organization's learning and developmen...,5Ways Foodservices: Staff Learning and Develop...,https://ivypanda.com/essays/5ways-foodservices...
0,Write the original essay for the following sum...,The author of this essay discusses how busine...,10 Steps of Getting Started With Social Media ...,https://ivypanda.com/essays/10-steps-of-gettin...
1,Provide the full text for the following summar...,"\n\n""A Darkling Plain"" a Book by Kristen Monro...",“A Darkling Plain” a Book by Kristen Monroe Es...,https://ivypanda.com/essays/a-darkling-plain-a...
2,Provide the inputted essay that when summarize...,A little electronic magic at Alibaba.com Case...,A Little Electronic Magic at Alibaba.com Case ...,https://ivypanda.com/essays/a-little-electroni...

In [46]:
# Column adjustment
data.rename(columns={'instructions':'prompt','essays':'essay'},inplace=True)
data.drop(['titles','urls'],axis=1,inplace=True)
data['word_count'] = data['essay'].apply(get_word_count)
data['LLM_written'] = 0
data.head()

,prompt,essay,word_count,LLM_written
0,Write the original essay that generated the fo...,2-6-Year-Olds’ Criminal Actions Irresponsibili...,662,0
1,Provide the inputted essay that when summarize...,5Ways Foodservices: Staff Learning and Develop...,2123,0
0,Write the original essay for the following sum...,10 Steps of Getting Started With Social Media ...,925,0
1,Provide the full text for the following summar...,“A Darkling Plain” a Book by Kristen Monroe Es...,1157,0
2,Provide the inputted essay that when summarize...,A Little Electronic Magic at Alibaba.com Case ...,909,0

In [47]:
# Concatenating
fully_concatenated_data = pd.concat([fully_concatenated_data,data])
fully_concatenated_data

,essay,prompt,LLM_written,word_count
0,"Dear State Senator,\n\nI'm writting to you tod...",Write a letter to your state senator in which ...,1.0,291
1,"Uh, hi! So, like, summers are, like, awesome r...",Some schools require students to complete summ...,1.0,311
2,"When peoples ask for advices, they sometimes t...","When people ask for advice, they sometimes tal...",1.0,333
3,I think art edukation is super impotent for ki...,Many people believe that arts education is ess...,1.0,308
4,I think we should totally switch to renewable ...,"In recent years, there has been a push towards...",1.0,307
...,...,...,...,...
24,Selected Works of Lu Hsun Research Paper\n\nFi...,Provide the full text for the following summar...,0.0,2631
25,Self-Understanding Role in Organizational Beha...,Create the inputted essay that provided the fo...,0.0,1061
26,“Sequoia Gardens” by Ernest Finney Literature ...,Write the full essay for the following summary...,0.0,1134
27,Service Marketing: Food Market Essay\n\nTable ...,Convert the following summary back into the or...,0.0,555
28,Sex Education in District School Curricular Es...,Provide a essay that could have been the input...,0.0,901

### Putting the Fully Concatenated DataFrame into the SQL Table

In [100]:
# Connecting to the database
connector_string = f'mysql+mysqlconnector://{credentials["user"]}:{credentials["password"]}@{credentials["host"]}/AuthenticAI'
engine = sqlalchemy.create_engine(connector_string,echo=True)

# Opening a connection
with engine.connect() as db_connection:
    # Pushing the dataframe to the SQL table
    fully_concatenated_data.to_sql('essays',db_connection,chunksize=10000,if_exists='append',index=False)

2024-01-04 16:30:43,464 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-01-04 16:30:43,469 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-04 16:30:43,498 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-01-04 16:30:43,515 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-04 16:30:43,527 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-01-04 16:30:43,536 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-04 16:30:43,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-04 16:30:43,560 INFO sqlalchemy.engine.Engine DESCRIBE `authenticai`.`essays`
2024-01-04 16:30:43,564 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-01-04 16:30:43,782 INFO sqlalchemy.engine.Engine INSERT INTO essays (essay, prompt, `LLM_written`, word_count) VALUES (%(essay)s, %(prompt)s, %(LLM_written)s, %(word_count)s)
2024-01-04 16:30:43,783 INFO sqlalchemy.engine.Engine [generated in 0.12136s] [{'essay': "Dear State Senator,\n\nI'm writting to you today to tell you that we should keep the Electoral College. I know some people say it's unfair but I thin ... (1271 characters truncated) ... them.\n\nSo, I think we should keep the Electoral College. It's a good system that helps make sure the president is fair to everyone.\n\nSincerely,\n", 'prompt': 'Write a letter to your state senator in which you argue in favor of keeping the Electoral College or changing to election by popular vote for the pre ... (300 characters truncated) ... es; and avoid overly relying on one source. Your response should be in the form of a multiparagraph essay. Write your response in the space provided.', 'LLM_written': 1.0, 'word_count': 291}, {'essay': "Uh, hi! So, like, summers are, like, awesome right? We get, like, no school and we can, like, play outside n stuff. But, like, some schools make us d ... (1340 characters truncated) ... 're, like, super effective. So, like, let's all, like, do student-designed projects and, like, have a blast doing it! Thanks for, like, reading this!", 'prompt': 'Some schools require students to complete summer projects to assure they continue learning during their break. Should these summer projects be teacher-designed or student-designed? Take a position on this question. Support your response with reasons and specific examples.', 'LLM_written': 1.0, 'word_count': 311}, {'essay': "When peoples ask for advices, they sometimes talk to more than one person. This is a good thing to do because it can help them make a better choise.\ ... (1528 characters truncated) ... because it gives you different perspectives and helps you avoid bias. So, the next time you need advice, don't be afraid to ask more than one person!", 'prompt': 'When people ask for advice, they sometimes talk to more than one person. Explain why seeking multiple opinions can help someone make a better choice. Use specific details and examples in your response.', 'LLM_written': 1.0, 'word_count': 333}, {'essay': 'I think art edukation is super impotent for kids. Some peoples might say its not that impotent but I disagree. Arts helps kids with theyre imaginatio ... (1361 characters truncated) ... r selfs. It also helps us develop our brain and be more creative. Art should be a requirement in skool cuz its impotent for a well-rounded edukation.', 'prompt': 'Many people believe that arts education is essential for a well-rounded education, while others think that it should be optional. Take a position on this issue, providing specific reasons and examples to support your argument.', 'LLM_written': 1.0, 'word_count': 308}, {'essay': "I think we should totally switch to renewable energy! Fossil fuels are bad for the earth and renewable energy is good. First of all, fossil fuels are ... (1352 characters truncated) ... for our planet, our health, and our future. We should invest in renewable energy now and make the world a better place for us and future generations.", 'prompt': 'In recent years, there has been a push towards using renewable energy sources. Argue for or against the transition from fossil fuels to renewable energy, providing reasons and examples to support your position.', 'LLM_written': 1.0, 'word_count': 307}, {'essay': "I think that it's a good idea for us to have to participate in an extracurricular activity. I know some people might think it's dumb but I think it's ... (739 characters truncated) ... at we're well-rounded and involved in our school. So, I think we should all just suck it up and do an extracurricular activity. It might even be fun!", 'prompt': 'Your principal has decided that all students must participate in at least one extracurricular activity. For example, students could participate in sp ... (36 characters truncated) ...  on the student council. Do you agree or disagree with this decision? Use specific details and examples to convince others to support your position. ', 'LLM_written': 1.0, 'word_count': 200}, {'essay': "The Facial Action Coding System is a new technology that can detect human emotions. It's like a computer program that can read your face and know how ... (1412 characters truncated) ... ould be used to manipulate students, and it's not necessary. Students should be able to express their emotions without being monitored by a computer.", 'prompt': 'In the article "Making Mona Lisa Smile," the author describes how a new technology called the Facial Action Coding System enables computers to identi ... (33 characters truncated) ... from the article, write an essay arguing whether the use of this technology to read the emotional expressions of students in a classroom is valuable.', 'LLM_written': 1.0, 'word_count': 307}, {'essay': "I think we should totally switch to renewable energy sources! First of all, fossil fuels are finite, meaning they will eventually run out. That means ... (1455 characters truncated) ... le. Fossil fuels are finite, make the earth hotter, are bad for the environment, and are not worth it. So, let's make the switch and save our planet!", 'prompt': 'In recent years, there has been a push towards using renewable energy sources. Argue for or against the transition from fossil fuels to renewable energy, providing reasons and examples to support your position.', 'LLM_written': 1.0, 'word_count': 325}  ... displaying 10 of 10000 total bound parameter sets ...  {'essay': "It is hypothesized that despite an effective way of communication, using cell phones during driving results in distracting attention of driver increa ... (3184 characters truncated) ... hat despite an effective way of communication, using cell phones during driving distracts attention of driver increasing road safety concerns.       ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 541}, {'essay': 'Cellphones are a part of everyone\'s day to day life. We find out information, contact others, even kill time using these tiny little computers. It s ... (2215 characters truncated) ...  be more alert. If this was taught to young teenagers before they got their driver\'s license then many of their crashes would have been avoided.    ', 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 455}]
2024-01-04 16:30:47,645 INFO sqlalchemy.engine.Engine INSERT INTO essays (essay, prompt, `LLM_written`, word_count) VALUES (%(essay)s, %(prompt)s, %(LLM_written)s, %(word_count)s)
2024-01-04 16:30:47,646 INFO sqlalchemy.engine.Engine [cached since 3.984s ago] [{'essay': "Phones and Driving\n\nAlmost everyone in the world owns a cell phone of some kind. We use them to communicate with others, go on the internet, access ... (2260 characters truncated) ... driving, your main focus should be on the road. Your safety should matter more than whatever message, call, or notification you get on your phone.   ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 452}, {'essay': "Phones and Driving\n\nPhones are everywhere in today's society with all different versions of a phone but the biggest problem is using your phone whi ... (2346 characters truncated) ... fe driving down the road. It is our responsibility to keep our friends and family safe on the road and anywhere we go.                               ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 514}, {'essay': "Phones and Driving\n\nDanger has fascinated humans for centuries. So has technological advancements or just technology in general. Cell phones are a  ... (1936 characters truncated) ... 's urgency of safety while driving should too. What's more important, what Kim Kardashian just did on Snapchat, or your life and everyone else's?    ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 383}, {'essay': 'Cell Phones Are Killers\n\nThe future brings many new advances in technology, and along with it, dangers and responsibilities. Cell phones are highly ... (2394 characters truncated) ... cil.\n\nAndrew. currin. ctr@dot. gov. "U Drive. U text. U pay." NHTSA, 8 May 2019, https://www. nhtsa. gov/risky-driving/distracted-driving.         ', 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 407}, {'essay': 'Cell Phones are now seen as an essential item for millions of people. Throughout each day people need to use their phones for multiple reasons includ ... (6166 characters truncated) ... usage close to none, use them to keep yourself safe. So, next time your phone rings, make sure to send the right message by not sending that text.   ', 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 1152}, {'essay': "Phones & Driving\n\nNow in the 21st century, the major of humans own and use cell phones daily. The number of teens who are dying or being injured as ... (1925 characters truncated) ...  bigger and bigger and while the death rate would keep on increasing as time goes until everyone fix the texting while driving problems continues.   ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 370}, {'essay': "Phones & Driving\n\nOver the years, phones have developed to be an important thing in our life. Phones are apart of our everyday lives and sometimes  ... (2289 characters truncated) ... u but to others also. Always remember that everybody's life is important including yours. So the text/call can wait intill after you arrive.         ", 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 456}, {'essay': 'Driving Essay\n\nDriving has become an everyday thing to citizens. Although many find popular to use their phones why driving. This is a bad example  ... (1943 characters truncated) ... il you shouldn\'t use your phone while driving. Deaths decreased when the government started to take action and changing the laws for drivers.       ', 'prompt': 'Today the majority of humans own and operate cell phones on a daily basis. In essay form, explain if drivers should or should not be able to use cell phones in any capacity while operating a vehicle.', 'LLM_written': 0.0, 'word_count': 388}  ... displaying 10 of 10000 total bound parameter sets ...  {'essay': "The Facial Action coding system enable computers to identify humans emotions. Dr. Huang relies the work of psychologists such as Dr. Paul Eckman, cre ... (1679 characters truncated) ... re express in how your day was, your emotions is like a tv show in how but act you fell what they feel if they are happy, mad, sad, or even scard.   ", 'prompt': 'In the article "Making Mona Lisa Smile," the author describes how a new technology called the Facial Action Coding System enables computers to identi ... (33 characters truncated) ... from the article, write an essay arguing whether the use of this technology to read the emotional expressions of students in a classroom is valuable.', 'LLM_written': 0.0, 'word_count': 343}, {'essay': 'The Mona Lisa is said to have many different emotions. Eighty-three percent happy, nine percent disgusted, six percent fearful, and two percent angry ... (1479 characters truncated) ...  understandable, or easier, lack of a better term, then a greater amount of students would be more open to learning and actually trying in school.   ', 'prompt': 'In the article "Making Mona Lisa Smile," the author describes how a new technology called the Facial Action Coding System enables computers to identi ... (33 characters truncated) ... from the article, write an essay arguing whether the use of this technology to read the emotional expressions of students in a classroom is valuable.', 'LLM_written': 0.0, 'word_count': 314}]
2024-01-04 16:30:50,946 INFO sqlalchemy.engine.Engine INSERT INTO essays (essay, prompt, `LLM_written`, word_count) VALUES (%(essay)s, %(prompt)s, %(LLM_written)s, %(word_count)s)